body {
    margin: 0px;
}

.red {
    background: #c71226;
    height: 100px;
}

.blue {
    background: #0d1b88;
    margin-top: 20px;
    height: 80px;
    margin-bottom: 20px;
}

.green {
    background: #397327;
    height: 100px;
}